<%- include('../partials/admin-header.ejs') %> 



<div class="row g-3 g-md-4">
    <div class="col-12 col-xl-6">
      <div class="address-box add-new d-flex flex-column gap-2 align-items-center justify-content-center" >
        <h4 ><a class="theme-color font-xl fw-500" href="/admin/view-products">View Products</a></h4>
      </div>
    </div>

    <div class="col-12 col-xl-6">
      <div class="address-box add-new d-flex flex-column gap-2 align-items-center justify-content-center" >
        <h4 ><a class="theme-color font-xl fw-500" href="/admin/view-users">View Users</a></h4>
      </div>
    </div>

    <div class="col-12 col-xl-6">
      <div class="address-box add-new d-flex flex-column gap-2 align-items-center justify-content-center" >
        <h4 ><a class="theme-color font-xl fw-500" href="/admin/view-orders">View Orders</a></h4>
      </div>
    </div>

</div>
