<!DOCTYPE html>
<!-- Html start -->
<html lang="en">
  <!-- Head Start -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../assets/images/favicon/favicon.png" />
    <meta name="theme-color" content="#0f8fac" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Oslo" />
    <meta name="msapplication-TileImage" content="../assets/images/favicon/favicon.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Oslo | Home</title>

    <!-- Google Jost Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

    <!-- Google Monsterrat Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet" />

    <!-- Google Leckerli Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet" />

    <!-- Bootstrap Css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css" />

    <!-- Swiper Slider Css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/swiper-bundle.min.css" />

    <!-- Wow Animation css -->
    <link rel="stylesheet" href="../assets/css/vendors/wow-animate.css" />

    <!-- Style Css -->
    <link id="change-link" rel="stylesheet" type="text/css" href="../assets/css/style.css" />
  </head>
  <!-- Head End -->

  <!-- Body Start -->
  <body class="theme-color6">
    

    <!-- Overlay -->
    <a href="javascript:void(0)" class="overlay-general overlay-common"></a>
    <!-- Header Start -->
    <header class="header-common">
      <!-- Top Header -->
      
      <div class="container-lg">
        <div class="nav-wrap">
          <!-- Navigation Start -->
          <nav class="navigation">
            <div class="nav-section">
              <div class="header-section">
                <div class="navbar navbar-expand-xl navbar-light navbar-sticky p-0">
                  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#primaryMenu" aria-controls="primaryMenu">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <a href="index.html" class="logo-link">
                    <img class="logo logo-dark" src="../assets/images/logos/logo-6.png" alt="logo" />
                    <img class="logo logo-light" src="../assets/images/logos/logo-6-w.png" alt="logo" />
                  </a>
                  <div class="offcanvas offcanvas-collapse order-lg-2" id="primaryMenu">
                    <div class="offcanvas-header navbar-shadow">
                      <h5 class="mt-1 mb-0">Menu</h5>
                      <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                      <!-- Menu-->
                      <ul class="navbar-nav">
                        <!-- Home -->
                        <li class="nav-item dropdown dropdown-mega">
                          <a class="nav-link dropdown-toggle" href="/admin" >Home</a>  
                        </li>

                        <!-- Sales report -->
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Sales Report</a>
                          <div class="dropdown-menu">
                            <div class="dropdown-column">
                              <a class="dropdown-item" href="shop-categories.html">Shop Categories</a>
                              <a class="dropdown-item" href="shop-filter.html">Shop Filter</a>
                              <a class="dropdown-item" href="shop-left-sidebar.html">Shop Left Sidebar</a>
                              <a class="dropdown-item" href="shop-list.html">Shop List</a>
                              <a class="dropdown-item" href="shop-masanory.html">Shop Masonry</a>
                              <a class="dropdown-item" href="shop-no-sidebar.html">Shop No Sidebar</a>
                              <a class="dropdown-item" href="shop-right-sidebar.html">Shop Right Sidebar</a>
                              <a class="dropdown-item" href="shop-top-filter.html">Shop Top Filter</a>
                            </div>
                          </div>
                        </li>

                        <!-- Product -->
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Product</a>
                          <div class="dropdown-menu">
                            <div class="dropdown-column">
                              <a class="dropdown-item" href="product-four-image.html">Product 4 Images</a>
                              <a class="dropdown-item" href="product-slider.html">Product Slider </a>
                              <a class="dropdown-item" href="product-sticky.html">Product Sticky</a>
                              <a class="dropdown-item" href="product-three-column.html">Product 3 Column</a>
                              <a class="dropdown-item" href="product-video-img.html">Product Video</a>
                              <a class="dropdown-item" href="product.html">Product Simple</a>
                            </div>
                          </div>
                        </li>

                        

                        <!-- Pages -->
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Categories</a>
                          <div class="dropdown-menu">
                            <div class="dropdown-column">
                              <a class="dropdown-item" href="404.html">404</a>
                              <a class="dropdown-item" href="about-us.html">About Us </a>
                              <a class="dropdown-item" href="address.html">Address</a>
                              <a class="dropdown-item" href="cart.html">Cart</a>
                              <a class="dropdown-item" href="coming-soon.html">Coming Soon</a>
                              <a class="dropdown-item" href="compare.html">Compare</a>
                              <a class="dropdown-item" href="contact-us.html">Contact Us</a>
                              <a class="dropdown-item" href="faqs.html">Faqs</a>
                              <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
                              <a class="dropdown-item" href="login.html">Login</a>
                              <a class="dropdown-item" href="order-success.html">Order Success</a>
                              <a class="dropdown-item" href="otp.html">Otp</a>
                              <a class="dropdown-item" href="payment.html">Payment</a>
                              <a class="dropdown-item" href="register.html">Register</a>
                              <a class="dropdown-item" href="reset-password.html">Reset Password</a>
                              <a class="dropdown-item" href="search.html">Search</a>
                              <a class="dropdown-item" href="user-dashboard.html">User Dashboard</a>
                              <a class="dropdown-item" href="wishlist.html">Wishlist</a>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          <!-- Navigation End -->

          <!-- Menu Right Start  -->
          <div class="menu-right">
            <div class="select-menu">
              <div class="dropdown select-dropdown" id="translate">
                <button id="languageSelected"><span>English</span> <i data-feather="chevron-down"></i></button>
                <ul class="onhover-show-div">
                  <li class="lang">English</li>
                  <li class="lang">Chinese</li>
                  <li class="lang">Arabic</li>
                  <li class="lang">Russian</li>
                </ul>
              </div>
            </div>

            <!-- Icon Menu Start -->
            <ul class="icon-menu">
              <li>
                <button class="search-button"><i data-feather="search"></i></button>
                <!-- Search Input Start -->
                <div class="search-full">
                  <div class="input-group">
                    <span class="input-group-text">
                      <i data-feather="search"></i>
                    </span>
                    <input type="text" class="form-control search-type" placeholder="Search here.." />
                    <span class="input-group-text close-search">
                      <i data-feather="x"></i>
                    </span>
                  </div>
                </div>
                <!-- Search Input End -->
              </li>

              <li class="user">
                <div class="dropdown user-dropdown">
                  <a href="javascript:void(0)"><i data-feather="user"></i></a>
                  <ul class="onhover-show-div">
                    <li><a href="/admin/logout">Logout</a></li>
                  </ul>
                </div>
              </li>
              <!-- Cart Menu End -->
            </ul>
            <!-- Icon Menu End -->
          </div>
          <!-- Menu Right End  -->
        </div>
      </div>
    </header>
    <!-- Header End -->

    

    <!-- Tap To Top Button Start -->
    <div class="tap-to-top-box hide">
      <button class="tap-to-top-button"><i data-feather="chevrons-up"></i></button>
    </div>
    <!-- Tap To Top Button End -->

    <!-- Bootstrap Js -->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Feather Icon -->
    <script src="../assets/js/feather/feather.min.js"></script>

    <!-- Swiper Slider Js -->
    <script src="../assets/js/swiper-slider/swiper-bundle.min.js"></script>
    <script src="../assets/js/swiper-slider/swiper-custom.min.js"></script>

    <!-- Timer Js -->
    <script src="../assets/js/timer.js"></script>

    <!-- Header Sticky js  -->
    <script src="../assets/js/sticky-header.js"></script>

    <!-- Active Class js  -->
    <script src="../assets/js/active-class.js"></script>

    <!-- Wow Js -->
    <script src="../assets/js/wow.js"></script>
    <script src="../assets/js/wow-custom.js"></script>

    <!-- Script Js -->
    <script src="../assets/js/script.js"></script>
  </body>
  <!-- Body End -->
</html>
<!-- Html End -->
