

<header class="header-common">
  <!-- Top Header -->
  <div class="top-header">
    <p class="marquee"><span>Summer sale for all Women Shoes - off 10%! Shop Now</span></p>
  </div>
  <div class="container-lg">
    <div class="nav-wrap">
      <!-- Navigation Start -->
      <nav class="navigation">
        <div class="nav-section">
          <div class="header-section">
            <div class="navbar navbar-expand-xl navbar-light navbar-sticky p-0">
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#primaryMenu" aria-controls="primaryMenu">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a href="/" class="logo-link">
                <img class="logo logo-dark" src="../assets/images/logos/qpnetlogoblue.png" alt="logo" />
                <img class="logo logo-light" src="../assets/images/logos/qpnetlogoblue.png" alt="logo" />
              </a>
              <div class="offcanvas offcanvas-collapse order-lg-2" id="primaryMenu">
                <div class="offcanvas-header navbar-shadow">
                  <h5 class="mt-1 mb-0">Menu</h5>
                  <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <!-- Menu-->
                  <ul class="navbar-nav">
                    <!-- Home -->
                    <li class="nav-item dropdown dropdown-mega">
                      <a class="nav-link " href="/">Home</a>
                    </li>

                    <!-- Shop -->
                    <li class="nav-item dropdown">
                      <a class="nav-link " href="/shop">Shop</a>
                    </li>

                    
                  
                    <li class="user mt-3">
                      <div class="dropdown user-dropdown">
                        <a href="javascript:void(0)"><i data-feather="user"></i></a>
                        <ul class="onhover-show-div">
                          <li><a href="/login">Login</a></li>
                          <li><a href="/signup">Register</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <!-- Navigation End -->
      

      <!-- Menu Right Start  -->
      <div class="menu-right">
        <div class="select-menu">
          <div class="dropdown select-dropdown">
            <button id="unitSelected"><span>INR</span> <i data-feather="chevron-down"></i></button>
            <ul class="onhover-show-div">
              <li class="unit">INR</li>
            </ul>
          </div>
          <div class="dropdown select-dropdown" id="translate">
            <button id="languageSelected"><span>English</span> <i data-feather="chevron-down"></i></button>
            <ul class="onhover-show-div">
              <li class="lang">English</li>
            </ul>
          </div>
        </div>

        

        


            
         
        <!-- Icon Menu End -->
      </div>
      <!-- Menu Right End  -->
    </div>
  </div>
</header>
<!-- Header End -->

