

<!DOCTYPE html>
<!-- Html start -->
<html lang="en">
  <!-- Head Start -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="oslo" />
    <meta name="keywords" content="oslo" />
    <meta name="author" content="oslo" />
    <link rel="icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../assets/images/favicon/favicon.png" />
    <meta name="theme-color" content="#0f8fac" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Oslo" />
    <meta name="msapplication-TileImage" content="../assets/images/favicon/favicon.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Oslo | 404 Error</title>

    <!-- Google Jost Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

    <!-- Google Monsterrat Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet" />

    <!-- Google Leckerli Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet" />

    <!-- Bootstrap Css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css" />

    <!-- Style Css -->
    <link id="change-link" rel="stylesheet" type="text/css" href="../assets/css/style.css" />
  </head>
  <!-- Head End -->

  <!-- Body Start -->
  <body>
    <!-- Loader Start -->
    <div class="loader-wrapper">
      <div class="loader animate">
        <span>N</span>
        <span>a</span>
        <span>N</span>
        <span>a</span>
        <span>S</span>
        <span>h</span>
        <span>o</span>
        <span>p</span>
        <span>p</span>
        <span>i</span>
      </div>
    </div>
    <!-- Loader End -->

    <!-- Overlay -->
    <a href="javascript:void(0)" class="overlay-general"></a>

    <!-- Header Start -->


    <!-- Header End -->

    <!-- Main Start -->
    <main class="main">
      <!-- Breadcrumb Start -->
      <div class="breadcrumb-wrap">
        <div class="banner">
          <img class="bg-img bg-top" src="../assets/images/inner-page/banner-p.jpg" alt="banner" />

          <div class="container-lg">
            <div class="breadcrumb-box">
              <div class="heading-box">
                <h1>404 Error</h1>
              </div>
              <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>
                  <a href="javascript:void(0)"><i data-feather="chevron-right"></i></a>
                </li>
                <li class="current"><a href="404.html">404 Error</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- Breadcrumb End -->

      <!-- 404 Section Start -->
      <section class="page-not-found">
        <div class="container">
          <div class="row gx-md-2 gx-0 gy-md-0 gy-3">
            <div class="col-md-8 m-auto">
              <div class="page-image">
                <img src="../assets/images/inner-page/404.svg" class="img-fluid blur-up lazyload" alt="" />
              </div>
            </div>

            <div class="col-md-8 mx-auto mt-md-5 mt-3">
              <div class="page-container pass-forgot">
                <div>
                  <h2>page not found</h2>
                  <p class="font-md">The page you are looking for doesn't exist or an other error occurred. Go back, or head over to choose a new direction.</p>
                  <a href="index.html" class="btn-solid mb-line">Back Home Page <i class="arrow"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 404 Section End -->
    </main>
    <!-- Main End -->



    <!-- Mobile Menu Footer Start -->
    <footer class="mobile-menu-footer d-sm-none">
        <ul>
          <li>
            <a href="/" class="active">
              <i data-feather="home"></i>
              <span>Home</span>
            </a>
          </li>
          
          <li>
            <a href="/cart">
              <i data-feather="shopping-bag"></i>
              <span>Cart</span>
            </a>
          </li>
          <li>
            <a href="/wishlist">
              <i data-feather="heart"></i>
              <span>Wishlist</span>
            </a>
          </li>
          <li>
            <a href="/user_dashboard">
              <i data-feather="user"></i>
              <span>Account</span>
            </a>
          </li>
        </ul>
      </footer>
      <!-- Mobile Menu Footer End -->
    <!-- Mobile Menu Footer End -->

    <!-- Bootstrap Js -->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Feather Icon -->
    <script src="../assets/js/feather/feather.min.js"></script>

    <!-- Header Sticky js  -->
    <script src="../assets/js/sticky-header.js"></script>

    <!-- Script Js -->
    <script src="../assets/js/script.js"></script>
  </body>
  <!-- Body End -->
</html>
<!-- Html End -->
