<!DOCTYPE html>
<!-- Html start -->
<html lang="en">
  <!-- Head Start -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../assets/images/favicon/favicon.png" />
    <meta name="theme-color" content="#0f8fac" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Oslo" />
    <meta name="msapplication-TileImage" content="../assets/images/favicon/favicon.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>qpnet.in | Register</title>

    <!-- Google Jost Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

    <!-- Google Monsterrat Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet" />

    <!-- Google Leckerli Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet" />

    <!-- Bootstrap Css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css" />

    <!-- Style Css -->
    <link id="change-link" rel="stylesheet" type="text/css" href="../assets/css/style.css" />
  </head>
  <!-- Head End -->

  <!-- Body Start -->
  <body>
    <!-- Loader Start -->
    <div class="loader-wrapper">
      <div class="loader animate">
        <span>q</span>
        <span>p</span>
        <span>n</span>
        <span>e</span>
        <span>t</span>
        <span>.</span>
        <span>i</span>
        <span>n</span>
      </div>
    </div>
    <!-- Loader End -->

    <!-- Main Start -->
    <div class="main">
      <section class="page-body p-0">
        <div class="row g-0 ratio_asos">
          <div class="order-2 order-lg-1 col-lg-5">
            <div class="content-box">
              <div>
                <% if(validation.userErr) { %> 
                  <p style="color: red;">! User Already Register</p>
                <% } %>
                <% if(validation.mobileErr) { %> 
                  <p style="color: red;">! Mobile Number Already Register</p>
                <% } %>
                <% if(validation.matchPassErr) { %> 
                  <p style="color: red;">! Password / Repeat Password Does not match</p>
                <% } %>
                <h5>CREATE ACCOUNT<span class="bg-theme-blue"></span></h5>
                <p class="font-md content-color">How do i get access order,wishlist and recommendation ?</p>

                <form action="/signup" class="custom-form form-pill" method="post">
                  
                    <div class="input-box">
                    <label for="name">Full Name</label>
                    <input class="form-control" type="text" required name="name" id="name" />
                  </div>
                  
                  <div class="input-box">
                    <label for="email">Email</label>
                    <input class="form-control" type="email"  required name="email" id="email" />
                  </div>

                  <div class="input-box">
                    <label for="mobileNo">Mobile Number</label>
                    <input class="form-control" type="text" minlength="10" maxlength="10" required name="mobileNo" id="mobileNo" />
                  </div>

                  <div class="input-box">
                    <label for="password">Password</label>
                    <div class="icon-input">
                      <input class="form-control" type="password" required name="password" id="password" />
                      <img class="showHidePassword" src="../assets/icons/svg/eye-1.svg" alt="eye" />
                    </div>
                  </div>

                  <div class="input-box">
                    <label for="rePassword">Repeat Password</label>
                    <div class="icon-input">
                      <input class="form-control" type="Password" required name="rePassword" id="rePassword" />
                      <img class="showHidePassword" src="../assets/icons/svg/eye-1.svg" alt="eye" />
                    </div>
                  </div>

                  

                  <button type="submit" class="btn-solid rounded-pill line-none theme-color">SignUp <i class="arrow"></i></button>
                  <a href="index.html" class="btn-solid rounded-pill line-none btn-outline mt-3 d-flex justify-content-center">Home <i class="arrow"></i></a>
                </form>

                <span class="backto-link font-default content-color text-decoration-none"
                  >Already have an Account? <a class="text-decoration-underline theme-color" href="/login">Sign In </a>
                </span>

                
                <!-- <a href="https://www.google.com/" class="button-link"><img src="../assets/icons/png/google.png" alt="google" /> Sign up </a>
                <a href="https://www.facebook.com/" class="button-link"><img src="../assets/icons/png/fb.png" alt="facebook" /> Sign up </a> -->
              </div>
            </div>
          </div>
          <div class="order-1 order-lg-2 col-lg-7">
            <div class="img-box">
              <img class="bg-img" src="../assets/images/inner-page/banner.jpg" alt="banner" />
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Main End -->

    <!-- Bootstrap Js -->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Feather Icon -->
    <script src="../assets/js/feather/feather.min.js"></script>

    <!-- Password Show-Hide js -->
    <script src="../assets/js/password-showhide.js"></script>

    <!-- Script js -->
    <script src="../assets/js/script.js"></script>
  </body>
  <!-- Body End -->
</html>
<!-- Html End -->
